.sel-bg-img-header {
  display: table;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

}

.sel-bg-img-header .sel-bg-title {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 20px;
  align-self: center;
  margin-bottom: 0;
}

.marginrightselecttext {
  margin-right: 20px;
}

.sel-bg-img-header .sel-bg-img-type {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.sel-bg-img-header.upload-icon {
  display: inline !important;
  /*float: right !important;*/
  background: transparent;
  border: none;
}

.sel-bg-img-content {
  text-align: center;
  width: 100%;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.sel-bg-img-content img {
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 8px;
}

.sel-bg-img-content.clickable img:hover {
  border-color: white;
  border-width: 3px;
  cursor: pointer;
}

.sel-bg-img-content.clickable img:focus {
  border-color: #558B2F;
  border-width: 3px;
  cursor: pointer;
}

.liveSteamInputWrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.liveSteamInputWrapper div {
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 50px;
}

/* .liveSteamInputWrapper div input {
    display: inline-block;
    border-radius: 25px;
    margin-right: 2%;
    width: 70%;
    height: 65%;
    border-style: outset;
    color: rgba(240, 240, 240, 0.8);
    background: rgba(38, 50, 56, 0.45);
    border-color: rgba(84, 110, 122, 0.45);
    box-shadow:  0px 3px 6px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.45);
    padding-left: 30px;
    outline: none !important;
    color: black;
  } */

/* .liveSteamInputWrapper div button {
    display: inline-block;
    border-radius: 25px;
    margin-right: 2%;
    width: 10%;
    height: 65%;
    border-style: outset;
    color: rgba(240, 240, 240, 0.8);
    background: rgba(38, 50, 56, 0.45);
    border-color: rgba(84, 110, 122, 0.45);
    box-shadow:  0px 3px 6px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.45);
  } */

.liveSteamInputWrapper div button:hover {
  background: rgba(38, 50, 56, 0.85);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.marginuploadbtn {
  margin-right: 20px;
}

.uploadbtn {
  background-color: black !important;
  color: white !important;
  margin-right: 20px !important;
}

.marginsetbtn {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.bgtypetext {
  font-size: 15px;
  font-weight: bold;
  margin-right: 6px;
  margin-top: 8px;
}

.marginhrline {
  margin-top: 0px;
  margin-bottom: 0px;
}

.flexbackground {
  display: flex;
}

.commonbtncss {
  color: #fff;
  background: #2e3192;
  border-style: outset;
  border-color: rgba(84, 110, 122, 0.45);
  box-shadow: 0px 3px 6px 0px rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(255, 255, 255, 0.45);
  font-weight: bold;
  text-transform: capitalize !important;
  border-radius: 50px;

}

.commonbtncss:hover {
  box-shadow: 0 0px 10px rgba(236, 230, 230, 0.25), 0 0px 10px rgba(221, 217, 217, 0.22);
}

.commonbtncss:active {
  transform: scale(.9);
}

.sel-bg-img-header #uploadAssetBtn {
  background-color: var(--ui-primary-dark);
  color: rgba(240, 240, 240, 0.8);
  background: var(--ui-primary-dark) !important;
  border-style: outset;
  border-color: rgba(84, 110, 122, 0.45) !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.45);
  font-weight: bold;
  border-radius: 50px;
  border: outset rgba(84, 110, 122, 0.45) !important;
}

.hrcolor {
  border-color: rgba(180, 180, 180, 0.44);
  margin: 0px;
}
